@import "tailwindcss";

:root {
  --background: #eee7de;
  /* dark cream grey */
  --foreground: #5e5c5a;
  /* soft cream white */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost);
}

body {
  background: var(--background);
  color: var(--foreground);
}